:root {
    --font-size-search: 1rem;
    --search-background-color: rgba(163, 163, 163, 0.3);
    --search-color: white;
    --search-error: #FF1B1C;
}

/* Utility Classes */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

/* Main */
.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url("./Img/night-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Search Bar */
.form {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

button,
input {
    background-color: transparent;
    border: none;
}

button {
    background-color: var(--search-background-color);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 1.5rem;
    width: 250px;
    color: var(--search-color);
}

input,
input::placeholder {
    color: var(--search-color);
}

input {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    font-size: var(--font-size-search);
    outline: none;
}

.error-msg {
    display: none;
}

/* Weather Details */
.main-weather-display-container {
    flex-grow: 1;
}

.main-weather-display {
    position: absolute;
    top: 30%;
    left: 10%;
    color: var(--search-color);
}