:root {
    --font-size-search: 1rem;
    --search-background-color: rgba(163, 163, 163, 0.3);
    --search-color: white;
    --search-error: #FF1B1C;
    --gap-between: 30px;
    --margin-search: 1.5rem;
}

/* Utility Classes */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.align-items-end {
    margin-right: var(--margin-search);
    padding-left: var(--margin-search);
    align-items: flex-end;
}

/* Main */
.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url("./Img/night-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Search Bar */
.form {
    padding: 0px;
    margin: 0px;
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

button,
input {
    background-color: transparent;
    border: none;
}

button {
    background-color: var(--search-background-color);
    border-radius: 0.5rem;
    padding: 10px;
    margin: var(--margin-search) var(--margin-search) 0rem var(--margin-search);
    width: 250px;
    color: var(--search-color);
}

.error-msg {
    font-size: 0.75rem;
    color: red;
}

input,
input::placeholder {
    color: var(--search-color);
}

input {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    font-size: var(--font-size-search);
    outline: none;
}

.error-msg {
    displayt color: red;
}

/* Weather Details */
.main-weather-display-container {
    flex-grow: 1;

}

.main-weather-display {
    position: absolute;
    top: 30%;
    left: 10%;
    color: var(--search-color);
}

.main-weather-display h1 {
    line-height: 1;
}

.degrees {
    font-size: 7.5rem;
    font-weight: bold;
}

.degrees::after,
#feel::after {
    position: relative;
    content: "°F";
    font-size: 0.25em;
}

.degrees::after {
    vertical-align: top;
    top: .5em;
}

#feel::after {
    font-size: 0.75em;
    top: -.8em;
}

.main-characteristics {
    gap: var(--gap-between);
}

.weather-content {
    padding-left: var(--gap-between);
    border-left: 2px solid white;
    font-weight: 300;
    gap: 10px;
}